<div class="container my-3">
    <div class="bg-success text-center">
        <h1 class="jumborton">Edit Student</h1>
    </div>
    <!--    start form-->
    <form *ngIf="student.id" (ngSubmit)="updateStudent()">
        <div class="row">
            <div class="col-md-6">
                <label for="exampleInputEmail1" class="form-label">Name</label>
                <input type="text" class="form-control" id="name" name="name" placeholder="Full Name"
                    [(ngModel)]="student.name">
            </div>

            <div class="col-md-6">
                <label for="exampleInputEmail1" class="form-label">Email</label>
                <input type="text" class="form-control" id="email" name="email" placeholder="example@gmail.com"
                    [(ngModel)]="student.email">
            </div>
        </div>


        <div class="row">
            <div class="col-md-6">
                <label for="exampleInputEmail1" class="form-label">Fee</label>
                <input type="text" class="form-control" id="contactNo" name="fee" placeholder="Fee"
                    [(ngModel)]="student.fee">
            </div>

            <div class="col-md-6">
                <label for="location" class="form-label">Location</label>
                <select id="location" name="location" class="form-select" [(ngModel)]="student.location"
                    [compareWith]="compareLocation">
                    <option *ngFor="let loc of locations" [ngValue]="loc">{{ loc.name }}</option>
                </select>
            </div>
        </div>





        <div class="row mt-3 text-center">
            <div class="col-md-6">
                <button type="submit" class="btn btn-success text-center">Save</button>

            </div>

            <div class="col-md-6">
                <button type="reset" class="btn btn-danger text-center">Reset</button>

            </div>
        </div>
    </form>

    <!--end form    -->
</div>